# Basic program of OOP:

In [12]:
##In this code ; if we were trying to print object directly then we will get memory location of obj instead of it's value
##As we haven't passed any parameter after self, same thing we did in object accessing --> we haven't passed any arg
##To get the output-->(means name), use [objectName.objectAttribute] as a syntax
class School:
    name_of_school="MIT"
    def __init__(self):
        self.name="Teja"
a=School()
a.__init__()
print(a)
a.name

<__main__.School object at 0x00000274B9C9DDB0>

'Teja'

In [18]:
##Here ,I took 2 parameters after self and                      
##in object:employee1 ;I passed  arguments so, self will take those args automatically and will print it
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        
employee1=Employee("Mr.Raman","80000LPA")
employee1.name,employee1.salary

('Mr.Raman', '80000LPA')

In [20]:
###In this code; we got value of salary only, why so???
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
        
employee1=Employee("Mr.Raman","80000LPA")
employee1.name
employee1.salary

'80000LPA'

In [23]:
####In this program,self is a keyword which is taking object's argumments automatically .
####But here we haven't given parameters after self that's y error has came. 
####It is required ;if we have to pass arguments of objects into init function
class Employee:
    def __init__(self):
        self.name=name
        self.salary=salary
        
employee1=Employee("Mr.Raman","80000LPA")
employee1.name
employee1.salary

TypeError: Employee.__init__() takes 1 positional argument but 3 were given

In [29]:
class Tejashri:
    def __init__(self):
        self
    def love_for_her(self,name):
         self.name="Pav bhaji"
    
teja_object=Tejashri("Sabudana vada")  
teja_object.name

TypeError: Tejashri.__init__() takes 1 positional argument but 2 were given

In [45]:
###as I haven't written anything below init fucntion , love_for_her () needs an indentation
class Tejashri:
    def __init__(self,name):
        
        def love_for_her(name):
             return "Pavbhaji"
    
teja_object=Tejashri("Panipuri")

In [38]:
###here I got an indentation error as I comment out return statement of love_for_her function, 
###as this function hadn't ended that's y error has came ,am I right?? 
class Tejashri:
    def __init__(self,name):
        self.name=name
    def love_for_her(name):
        #return "Pavbhaji"
teja_object=Tejashri("Pavbhaji") 
teja_object.name

IndentationError: expected an indented block after function definition on line 5 (4046465671.py, line 7)

In [46]:
class Tejashri:
    def __init__(self,name):
        self.name=name
    def love_for_her(name):
        return "Pavbhaji"
teja_object=Tejashri("Pavbhaji") 
teja_object.name

'Pavbhaji'

In [47]:
class Tejashri:
    def __init__(self,name):
        self.name=name
   
teja_object=Tejashri("Pavbhaji") 
teja_object.name

'Pavbhaji'

In [49]:
class Tejashri:
    def __init__(self,name):
        self.name=name
    def love_for_her(name):
        return "chocolates"
teja_object=Tejashri("Pavbhaji") 
teja_object.name

'Pavbhaji'